/*
====================================================================================================
FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED FEED
====================================================================================================
*/

.kanbas-feed {
    padding: 8px;
    padding-right: 28px;
}

.kanbas-feed-circle-icon {
    color: lime;
}

.kanbas-feed-search-box {
    width: 30px;
}

.kanbas-feed .btn {
    margin: 1px;
}

.kanbas-feed ul {
    margin: 8px;
}

.list-group > .list-group-item {
    padding: 12px;
}

.list-group a {
    font-size: 14px;
    padding-left: 0px;
}

.list-group p {
    font-size: 11px;
}

.list-group a {
    text-decoration: none;
    color: black;
}

.kanbas-feed-module-title > span {
    margin-left: 8px;
}

.kanbas-feed-assignment > span {
    margin-left: 15px;
}

.kanbas-feed-assignment-icon-box {
    width: 15px;
    vertical-align: middle;
}

.kanbas-feed-assignment-icon-box > .fa-pen-to-square {
    margin-left: 15px;
    color: green;
}

.kanbas-feed-assignment-title {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.kanbas-feed-assignment-title:hover{
   text-decoration-color: black;
   text-decoration: underline;
   color: black;
}

.kanbas-feed-assignment-description {
    font-size: 14px;
}

.kanbas-feed-assignment-status-box > .fa-circle-check {
    padding-right: 30px;
    color: green;
}

.kanbas-feed-assignment-status-box > .fa-ellipsis-vertical {
    padding-right: 15px;
}

/**/

.kb-assignments-published span {
    color: green;
    padding-bottom: 20px;
}

.kb-assignments-published > i {
    color: green;
}

.kb-assignments-published .btn {
    margin-left: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.kb-edit-chart {
    margin-bottom: 8px;
}

.kb-edit-chart > .kb-edit-chart-label {
    text-align: right;
}

.kb-edit-chart .form-select {
    margin-bottom: 12px;
}

.kb-edit-chart .form-check, b {
    padding-top: 8px;
    padding-bottom: 8px;
}

.col-7 > .card {
    margin-bottom: 16px;
}
