.nav-link.wd-color-link-red {
    color: #b52828;
}

.nav-link.wd-color-link-red:hover {
    color: #b52828;
}

.list-group.wd-navigation-list {
    border-radius: 0px;;
}

.list-group-item.wd-navigation-list-item {
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wd-navigation-subtitle {
    font-size: 0.75rem;
    font-style: italic;
}