.kanbas-body-text .card {
    width: 270px;
    padding: 10px;
    margin: 20px;
}

.kanbas-body-text a {
    text-decoration: none;
}

.kanbas-body-text .card h6 {
    margin-top: 4px;
}

.kanbas-body-text .card p {
    color: gray;
    font-size: 12px;
    margin-bottom: 2px;
}

.kanbas-body-text .card i {
    color: gray;
    margin-left: 2px;
}

.card-title {
    color: #6B7780;
    text-decoration: none; 
}

.card-title:hover {
    text-decoration: underline; 
    text-decoration-color: var(--kanbas-red)
}

.card i{
    padding: 10px;
}

.card i:hover{
    color: var(--kanbas-red);
}

