.list-group.wd-assignment-list {
    border-radius: 0px;;
}

.list-group-item.wd-assignment-list-item {
    padding-right: 10px;
    border-left: 5px solid green;
    display: flex;
    align-items: center;
}

.wd-assignment-subtitle {
    font-size: 0.75rem;
    color: #4C5860;
}

.wd-assignment-title {
    color: #2D3B45;
    text-decoration: none;
    font-weight: bold;
}

.wd-assignment-rounded-pill {
    border: 1px solid rgba(0,0,0,.25); 
    border-radius: 1em;
    font-size: 0.875rem;
}

.assignment-edit-group {
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.wd-btn-kanbas-primary.assignment-edit-add-button {
    float:none;
    border-radius: 0 0 0.375rem 0.375rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.wd-btn-kanbas-primary.assignment-edit-add-button:hover {
    float:none;
    border-radius: 0 0 0.375rem 0.375rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.fa.wd-font-weight-normal {
    font-weight: normal;
}