.breadcrumb {
  margin: 0;
  font-size: 18px;
}

.breadcrumb-item.main {
  color: red;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wd-assignment-edit-section {
  padding-top: 6px;
  padding-bottom: 10px;
}

.assignment-description > p {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #2d3b45;
}

.assignment-description > a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  :hover {
    cursor: pointer;
  }
}

.sub-label {
  display: flex;
  justify-content: end;
}

.text-green {
  color: green;
}
