.wd-color-green {
    color: green;
}

.wd-font-weight-normal {
    font-weight: normal; 
}

.wd-font-weight-bold {
    font-weight: bold;
}

.wd-color-link-red {
    color: #b52828;
}

.wd-color-text-red {
    color: #d41b2c;
}

.wd-text-align-center {
    text-align: center;
}

.wd-color-black {
    color: black;
}

.wd-color-white {
    color: white;
}

.wd-color-grey {
    color: grey;
}