.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 85px;
    margin: 0px;
  }
  
  .wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 3px;
    font-size: 14px;
    text-align: center;
  }
  
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }

  .wd-kanbas-navigation li.wd-active a {
    color: #d41b2c;
  }
  
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }

  .wd-kanbas-navigation a:hover {
    color: white;
    text-decoration: none;
  }
  
  .wd-kanbas-navigation a i {
    color: #d41b2c;
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .wd-kanbas-navigation a i.wd-kanbas-navigation-account {
    color: white;
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .wd-kanbas-navigation li.wd-active a i.wd-kanbas-navigation-account {
    color: #d41b2c;
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .wd-minimized-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 3px;
  }

  .wd-minimized-kanbas-navigation li a{
    text-decoration: none;
    color: #d41b2c;
  }

  .wd-minimized-kanbas-navigation li a i{
    margin-right: 7px;
  }