/*
-----
FEED
-----
*/

.kanbas-feed {
    padding: 8px;
}

.kanbas-feed-circle-icon {
    color: green;
}

.kanbas-feed .btn {
    margin: 1px;
}

.kanbas-feed ul {
    margin: 8px;
}

.list-group > .list-group-item {
    padding: 12px;
}

.list-group > .kanbas-feed-assignment {
    border-left-color: green;
    border-left-width: 4.5px;
    
}

.list-group > .kanbas-feed-assignment a { 
    text-decoration: none;
    color: black;
}

.list-group > .kanbas-feed-assignment a  > .kanbas-feed-section-title{ 
    text-decoration: none;
    font-size: 16px;
    padding-left: 0px;
    color: black;
}

.list-group > .kanbas-feed-assignment a  > .kanbas-feed-entry-title:hover{ 
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
}

.list-group > .kanbas-feed-assignment a  > .kanbas-feed-link-title:hover{ 
    text-decoration: underline;
    text-decoration-color: var(--kanbas-red);
}


.kanbas-feed-module-title > span {
    margin-left: 8px;
}

.kanbas-feed-assignment > span {
    margin-left: 15px;
}

.kanbas-feed-section-title {
    font-size: 16px;
    text-decoration:none;
}

.kanbas-feed-entry-title {
    font-size: 16px;
}

.kanbas-feed-link-title {
    font-size: 16px;
    color: var(--kanbas-red);
}

.kanbas-feed-assignment-description {
    font-size: 14px;
}

.kanbas-feed-entry-icon-box {
    padding-right: 0px;
}

.kanbas-feed-entry-icon-box > .fa-link {
    color: green;
}


.kanbas-feed-assignment-status-box > .fa-circle-check {
    padding-right: 30px;
    color: green;
}

.kanbas-feed-assignment-status-box > .fa-circle-check {
    padding-right: 30px;
    color: green;
}

.kanbas-feed-assignment-status-box > .fa-ellipsis-vertical {
    padding-right: 15px;
}


/*
-----
COURSE SHOW SECONDARY
-----
*/

.subtext{
    color: gray;
}

.round-corner-btn{
    border-radius: 12px;
    border-width: 0.04cqmax;
    font-size: smaller;
}

.course-show-sec {
    padding: 8px;
    padding-right: 28px;
    padding-left: 18px;
}

.course-show-sec-unpublish {
    float: left;
    width: 48%;
    margin: 1px;
    margin-right: 0px;
    margin-bottom: 8px;
}

.course-show-sec-published {
    width: 48%;
    margin: 1px;
    margin-left: 0px;
    margin-bottom: 8px;
}

.course-show-sec .d-grid > .btn {
    text-align: left;
}

.course-show-sec .d-grid > .btn > i {
    margin-left: 5px;
}

.course-show-sec .d-grid span {
    font-size: 16px;
}

.course-show-sec-header-line {
    margin-top: 0px;
}

.course-show-sec-bottom-flex {
    display: flex;
    flex-direction: row;
}

.course-show-sec-bottom a {
    color: var(--kanbas-red);
    text-decoration: none;
}

.course-show-sec-bottom a:hover{
    color: var(--kanbas-red);
    text-decoration: underline;
    text-decoration-color: var(--kanbas-red) ;
}
